---
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cards Slider - SwiperJS</title>
  </head>
  <body
    class="bg-[#050510] text-white antialiased min-h-screen overflow-x-hidden"
  >
    <div
      class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
    </div>

    <slot />
  </body>
</html>
